# Linux (GCC) build configuration
CONFIG_OS_API=posix
CONFIG_OBJ_EXT=o

# Toolchain
CONFIG_CC=gcc
CONFIG_CXX=g++
CONFIG_AR=ar

# Flags
CONFIG_CFLAGS=-std=c11 -Wall -Wextra -Werror -fPIC
CONFIG_CXXFLAGS=-std=c++20 -Wall -Wextra -Werror -Wpedantic -fPIC -fno-exceptions -fno-rtti
CONFIG_RELEASE_CFLAGS=-O2 -ffunction-sections -fdata-sections
CONFIG_RELEASE_CXXFLAGS=-O2 -DNDEBUG -ffunction-sections -fdata-sections
CONFIG_RELEASE_LDFLAGS=-Wl,--gc-sections

# Commands
CONFIG_CC_CMD=$(CC) $(CFLAGS) -c %f -o %o
CONFIG_CC_THIRDPARTY_CMD=$(CC) $(CFLAGS) -Wno-error -c %f -o %o
CONFIG_CXX_CMD=$(CXX) $(CXXFLAGS) -c %f -o %o
CONFIG_CXX_THIRDPARTY_CMD=$(CXX) $(CXXFLAGS) -Wno-error -c %f -o %o
CONFIG_LINK_CMD=$(CXX) %f -o %o $(LDFLAGS)
CONFIG_AR_CMD=$(AR) rcs %o %f

# Script export
CONFIG_SCRIPT_PROLOGUE=#!/bin/sh\nset -ex\ncd "$(dirname "$0")"
CONFIG_SCRIPT_RUN=(cd "%DIR" && %CMD)
CONFIG_SCRIPT_MKDIR=mkdir -p "%DIR"
CONFIG_SCRIPT_COMMENT=#

CONFIG_TESTS=y
