# GCC Libraries - x86-64 Linux platform configuration
#
# Usage:
#   putup configure --config configs/x86_64-linux.config -S ../gcc-15.2.0 -B ../build-gcc

# Toolchain
CONFIG_CC=gcc
CONFIG_AR=ar
CONFIG_HOSTCC=gcc

# Architecture
CONFIG_GMP_LIMB_BITS=64
CONFIG_GMP_NAIL_BITS=0

# --- GMP config.h ---

CONFIG_GMP_HAVE_ALARM=1
CONFIG_GMP_HAVE_ALLOCA=1
CONFIG_GMP_HAVE_ALLOCA_H=1
CONFIG_GMP_HAVE_ATTRIBUTE_CONST=1
CONFIG_GMP_HAVE_ATTRIBUTE_MALLOC=1
CONFIG_GMP_HAVE_ATTRIBUTE_MODE=1
CONFIG_GMP_HAVE_ATTRIBUTE_NORETURN=1
CONFIG_GMP_HAVE_CLOCK=1
CONFIG_GMP_HAVE_CLOCK_GETTIME=1
CONFIG_GMP_HAVE_DECL_FGETC=1
CONFIG_GMP_HAVE_DECL_FSCANF=1
CONFIG_GMP_HAVE_DECL_OPTARG=1
CONFIG_GMP_HAVE_DECL_SYS_ERRLIST=0
CONFIG_GMP_HAVE_DECL_SYS_NERR=0
CONFIG_GMP_HAVE_DECL_UNGETC=1
CONFIG_GMP_HAVE_DECL_VFPRINTF=1
CONFIG_GMP_HAVE_DLFCN_H=1
CONFIG_GMP_HAVE_DOUBLE_IEEE_LITTLE_ENDIAN=1
CONFIG_GMP_HAVE_FCNTL_H=1
CONFIG_GMP_HAVE_FLOAT_H=1
CONFIG_GMP_HAVE_GETPAGESIZE=1
CONFIG_GMP_HAVE_GETRUSAGE=1
CONFIG_GMP_HAVE_GETTIMEOFDAY=1
CONFIG_GMP_HAVE_HIDDEN_ALIAS=1
CONFIG_GMP_HAVE_HOST_CPU_FAMILY_x86_64=1
CONFIG_GMP_HAVE_INTMAX_T=1
CONFIG_GMP_HAVE_INTPTR_T=1
CONFIG_GMP_HAVE_INTTYPES_H=1
CONFIG_GMP_HAVE_LANGINFO_H=1
CONFIG_GMP_HAVE_LIMB_LITTLE_ENDIAN=1
CONFIG_GMP_HAVE_LOCALECONV=1
CONFIG_GMP_HAVE_LOCALE_H=1
CONFIG_GMP_HAVE_LONG_DOUBLE=1
CONFIG_GMP_HAVE_LONG_LONG=1
CONFIG_GMP_HAVE_MEMORY_H=1
CONFIG_GMP_HAVE_MEMSET=1
CONFIG_GMP_HAVE_MMAP=1
CONFIG_GMP_HAVE_MPROTECT=1
CONFIG_GMP_HAVE_NL_LANGINFO=1
CONFIG_GMP_HAVE_NL_TYPES_H=1
CONFIG_GMP_HAVE_OBSTACK_VPRINTF=1
CONFIG_GMP_HAVE_POPEN=1
CONFIG_GMP_HAVE_PTRDIFF_T=1
CONFIG_GMP_HAVE_QUAD_T=1
CONFIG_GMP_HAVE_RAISE=1
CONFIG_GMP_HAVE_SIGACTION=1
CONFIG_GMP_HAVE_SIGALTSTACK=1
CONFIG_GMP_HAVE_SIGNAL_H=1
CONFIG_GMP_HAVE_SIGSTACK=1
CONFIG_GMP_HAVE_STACK_T=1
CONFIG_GMP_HAVE_STDINT_H=1
CONFIG_GMP_HAVE_STDLIB_H=1
CONFIG_GMP_HAVE_STRCHR=1
CONFIG_GMP_HAVE_STRERROR=1
CONFIG_GMP_HAVE_STRING_H=1
CONFIG_GMP_HAVE_STRINGS_H=1
CONFIG_GMP_HAVE_STRNLEN=1
CONFIG_GMP_HAVE_STRTOL=1
CONFIG_GMP_HAVE_STRTOUL=1
CONFIG_GMP_HAVE_SYSCONF=1
CONFIG_GMP_HAVE_SYS_MMAN_H=1
CONFIG_GMP_HAVE_SYS_PARAM_H=1
CONFIG_GMP_HAVE_SYS_RESOURCE_H=1
CONFIG_GMP_HAVE_SYS_STAT_H=1
CONFIG_GMP_HAVE_SYS_SYSINFO_H=1
CONFIG_GMP_HAVE_SYS_TIME_H=1
CONFIG_GMP_HAVE_SYS_TIMES_H=1
CONFIG_GMP_HAVE_SYS_TYPES_H=1
CONFIG_GMP_HAVE_TIMES=1
CONFIG_GMP_HAVE_UINT_LEAST32_T=1
CONFIG_GMP_HAVE_UNISTD_H=1
CONFIG_GMP_HAVE_VSNPRINTF=1
CONFIG_GMP_LSYM_PREFIX=""
CONFIG_GMP_NO_ASM=1
CONFIG_GMP_RETSIGTYPE=void
CONFIG_GMP_SIZEOF_UNSIGNED=4
CONFIG_GMP_SIZEOF_UNSIGNED_SHORT=2
CONFIG_GMP_SIZEOF_VOID_P=8
CONFIG_GMP_TIME_WITH_SYS_TIME=1
CONFIG_GMP_TUNE_SQR_TOOM2_MAX=SQR_TOOM2_MAX_GENERIC
CONFIG_GMP_PACKAGE="gmp"
CONFIG_GMP_PACKAGE_BUGREPORT="gmp-bugs@gmp.org"
CONFIG_GMP_PACKAGE_NAME="GNU MP"
CONFIG_GMP_PACKAGE_STRING="GNU MP 6.2.1"
CONFIG_GMP_PACKAGE_TARNAME="gmp"
CONFIG_GMP_PACKAGE_VERSION="6.2.1"
CONFIG_GMP_SIZEOF_MP_LIMB_T=8
CONFIG_GMP_SIZEOF_UNSIGNED_LONG=8
CONFIG_GMP_SIZEOF_UNSIGNED_LONG_LONG=8
CONFIG_GMP_STDC_HEADERS=1
CONFIG_GMP_VERSION="6.2.1"
CONFIG_GMP_WANT_FFT=1
CONFIG_GMP_WANT_TMP_ALLOCA=1

# --- MPFR config.h ---

CONFIG_MPFR_HAVE_ALLOCA=1
CONFIG_MPFR_HAVE_ALLOCA_H=1
CONFIG_MPFR_HAVE_INTTYPES_H=1
CONFIG_MPFR_HAVE_LOCALE_H=1
CONFIG_MPFR_HAVE_LOCALECONV=1
CONFIG_MPFR_HAVE_LONG_LONG=1
CONFIG_MPFR_HAVE_MEMORY_H=1
CONFIG_MPFR_HAVE_SETLOCALE=1
CONFIG_MPFR_HAVE_STDARG=1
CONFIG_MPFR_HAVE_STDINT_H=1
CONFIG_MPFR_HAVE_STDLIB_H=1
CONFIG_MPFR_HAVE_STRING_H=1
CONFIG_MPFR_HAVE_STRINGS_H=1
CONFIG_MPFR_HAVE_SYS_STAT_H=1
CONFIG_MPFR_HAVE_SYS_TIME_H=1
CONFIG_MPFR_HAVE_SYS_TYPES_H=1
CONFIG_MPFR_HAVE_UNISTD_H=1
CONFIG_MPFR_HAVE_VA_COPY=1
CONFIG_MPFR_HAVE_WCHAR_H=1
CONFIG_MPFR_HAVE_LITTLE_ENDIAN=1
CONFIG_MPFR_PACKAGE="mpfr"
CONFIG_MPFR_PACKAGE_NAME="MPFR"
CONFIG_MPFR_PACKAGE_STRING="MPFR 4.1.0"
CONFIG_MPFR_PACKAGE_TARNAME="mpfr"
CONFIG_MPFR_PACKAGE_VERSION="4.1.0"
CONFIG_MPFR_STDC_HEADERS=1
CONFIG_MPFR_VERSION="4.1.0"

# --- MPC config.h ---

CONFIG_MPC_HAVE_INTTYPES_H=1
CONFIG_MPC_HAVE_LOCALE_H=1
CONFIG_MPC_HAVE_LOCALECONV=1
CONFIG_MPC_HAVE_MEMORY_H=1
CONFIG_MPC_HAVE_SETLOCALE=1
CONFIG_MPC_HAVE_STDINT_H=1
CONFIG_MPC_HAVE_STDLIB_H=1
CONFIG_MPC_HAVE_STRING_H=1
CONFIG_MPC_HAVE_STRINGS_H=1
CONFIG_MPC_HAVE_SYS_STAT_H=1
CONFIG_MPC_HAVE_SYS_TIME_H=1
CONFIG_MPC_HAVE_SYS_TYPES_H=1
CONFIG_MPC_HAVE_UNISTD_H=1
CONFIG_MPC_PACKAGE="mpc"
CONFIG_MPC_PACKAGE_NAME="mpc"
CONFIG_MPC_PACKAGE_STRING="mpc 1.2.1"
CONFIG_MPC_PACKAGE_TARNAME="mpc"
CONFIG_MPC_PACKAGE_VERSION="1.2.1"
CONFIG_MPC_STDC_HEADERS=1
CONFIG_MPC_VERSION="1.2.1"
