# MPFR 4.1.0 - macOS (aarch64-apple-darwin) config.h defines
#
# Nearly identical to Linux. Only endianness representation differs slightly.

CONFIG_HAVE_ALLOCA=1
CONFIG_HAVE_ALLOCA_H=1
CONFIG_HAVE_INTTYPES_H=1
CONFIG_HAVE_LOCALE_H=1
CONFIG_HAVE_LOCALECONV=1
CONFIG_HAVE_LONG_LONG=1
CONFIG_HAVE_MEMORY_H=1
CONFIG_HAVE_SETLOCALE=1
CONFIG_HAVE_STDARG=1
CONFIG_HAVE_STDINT_H=1
CONFIG_HAVE_STDLIB_H=1
CONFIG_HAVE_STRING_H=1
CONFIG_HAVE_STRINGS_H=1
CONFIG_HAVE_SYS_STAT_H=1
CONFIG_HAVE_SYS_TIME_H=1
CONFIG_HAVE_SYS_TYPES_H=1
CONFIG_HAVE_UNISTD_H=1
CONFIG_HAVE_VA_COPY=1
CONFIG_HAVE_WCHAR_H=1
CONFIG_HAVE_LITTLE_ENDIAN=1
CONFIG_PACKAGE="mpfr"
CONFIG_PACKAGE_NAME="MPFR"
CONFIG_PACKAGE_STRING="MPFR 4.1.0"
CONFIG_PACKAGE_TARNAME="mpfr"
CONFIG_PACKAGE_VERSION="4.1.0"
CONFIG_STDC_HEADERS=1
CONFIG_VERSION="4.1.0"
